<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.com.PhoneSpec.IPhone.dao.AppleDeviceMapper">
  <select id="getAllIPhone" resultType="com.com.PhoneSpec.IPhone.dto.AppleDeviceDto">
    SELECT * FROM APPLE_DEVICE
  </select>
  
  <select id="getRecentIPhone" resultType="com.com.PhoneSpec.IPhone.dto.AppleDeviceDto">
    <!-- 20240212 제품이름만 사용하니까 리소스 줄이기 위해 변경 -->
    select productnm from APPLE_DEVICE
	ORDER BY SEQ DESC
	LIMIT 3;
  </select>
</mapper>